<div class="ion-page" id="main-content">
  <ion-content class="ion-padding">
    <form class="form" [formGroup]="form" (ngSubmit)="onLogin()" (keypress.enter)='onLogin()'>

      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="Ingresa tu email laboral"
        type="email"
        name="email"
        fill="outline"
        formControlName="email"
      ></ion-input>

      <div class="validators">
        <div *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched" >
          El email es obligatorio.
        </div>
        <div *ngIf="form.get('email')?.errors?.['email']">
          El email debe ser válido.
        </div>
      </div>
      <!-- </div> -->


      <ion-icon name="arrow-redo-outline"></ion-icon>
      <ion-input
        label="Password"
        labelPlacement="floating"
        placeholder="Ingresa tu contraseña"
        type="password"
        name="password"
        fill="outline"
        formControlName="password"
      >
      </ion-input>

      <div class="validators">
        <div *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched" >
          El password es obligatorio.
        </div>
        <div *ngIf="form.get('password')?.errors?.['minLength']">
          <h1>El password debe tener al menos 6 caracteres.</h1>
        </div>
      </div>


      <ion-button shape="round" type="submit" class="ion-margin-top" [disabled]="form.invalid"
        >Iniciar Sesión</ion-button
      >
    </form>
  </ion-content>
</div>
