<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true" class="ion-padding">

  <ion-back-button 
      defaultHref="/login"
      class="custom-back-button">
    </ion-back-button>

    <div class="logo-wrapper">
      <img src="assets/alticket.png" alt="Logo Alticket" class="logo-img" />
    </div>

    <form class="form">

      <ion-input 
        type="email" 
        label="Email" 
        labelPlacement="floating" 
        placeholder="Ingresa tu mail laboral" 
        [(ngModel)]="email" 
        name="email" 
        fill="outline">
      </ion-input>

      <ion-input 
        type="password" 
        label="Contraseña" 
        labelPlacement="floating" 
        [(ngModel)]="password" 
        name="password" 
        fill="outline">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <ion-button 
        type="submit" 
        class="ion-margin-top" 
        (click)="onRegister()">
        Registrarse
      </ion-button>

    </form>
  </ion-content>
</div>
