ion-content {
  --background: linear-gradient(180deg, rgba(198, 233, 254, 1) 0%, rgb(68, 133, 231) 100%);
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

ion-img {
  width: 210px;
  max-width: 80%;
  height: auto;
}

h1 {
  color: #4a90e2;
  -webkit-text-stroke: 3px #144297;
  text-align: center;
}

.bienvenida-texto {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #0a2a66;
  margin: 20px 0 10px 0;
  animation: fadeInSlide 2s ease-in-out infinite;
}

ion-button {
  --background: #4a90e2;
  --color: #ffffff;
  --border-radius: 11px;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

ion-input{
  --color: rgb(65, 65, 165);
  font-size: 15px;
  font-weight: bold;
}

.validators {
  margin-left: 10px;
  margin-top: 5px;
  color: red;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 210px;
  max-width: 80%;
  height: auto;
}

.custom-back-button {
  position: fixed;
  top: 16px;   /* ajusta el margen superior */
  left: 16px;  /* ajusta el margen izquierdo */
  z-index: 1000; /* asegura que quede por encima */
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
